# Development
# ------------

/public/build/*
node_modules
vendor

# Content
# ------------

/content/*

# System files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------

/public/media/*
!/public/media/index.html
.lock

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

/storage/*

# Cache Files
# ---------------

/storage/cache/*
!/storage/cache/index.html

# Accounts
# ---------------

/storage/accounts/*
!/storage/accounts/index.html

# Sessions
# ---------------

/storage/sessions/*
!/storage/sessions/index.html

# License
# ---------------
/site/config/.license
