AddDefaultCharset UTF-8
Options -Indexes
DefaultLanguage en

<IfModule mod_mime.c>
  AddType text/html .html
  AddType application/json .json
  # AddType text/plain .txt
  # AddType text/markdown .md
  # AddType application/xml .xml

  AddType text/css .css
  AddType text/javascript .js

  AddType image/jpeg .jpeg .jpg .JPG
  AddType image/png .png
  AddType image/svg+xml .svg
  AddType image/x-icon .ico
  # AddType image/tiff .tiff .tif
  # AddType image/gif .gif

  AddType application/x-font-woff .woff
  AddType application/x-font-woff .woff2
  # AddType font/truetype .ttf
  # AddType font/opentype .otf
  # AddType font/eot .eot

  # AddType application/zip .zip
  # AddType application/pdf .pdf
  # AddType application/postscript .ai .eps

  AddType video/mp4 .mp4
  # AddType video/webm .webm
  # AddType video/ogg .ogv
</IfModule>

# Kirby .htaccess

# rewrite rules
<IfModule mod_rewrite.c>

  # enable awesome urls. i.e.:
  # http://yourdomain.com/about-us/team
  RewriteEngine on

  # make sure to set the RewriteBase correctly
  # if you are running the site in a subfolder.
  # Otherwise links or the entire site will break.
  #
  # If your homepage is http://yourdomain.com/mysite
  # Set the RewriteBase to:
  #
  # RewriteBase /mysite

  # In some environments it's necessary to
  # set the RewriteBase to:
  #
  RewriteBase /

  # remove www and add https
  # RewriteCond %{HTTP_HOST} ^www.example.com$ [NC]
  # RewriteRule ^(.*)$ https://example.com/$1 [R=301,L]

  # force https
  # RewriteCond %{HTTPS} off
  # RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # redirect favicon, sitemap, robots, ....
  RewriteRule ^favicon\.ico$ /assets/favicon/favicon.ico [L]

  # block files and folders beginning with a dot, such as .git
  # except for the .well-known folder, which is used for Let's Encrypt and security.txt
  RewriteRule (^|/)\.(?!well-known\/) index.php [L]

  # block text files in the content folder from being accessed directly
  RewriteRule ^content/(.*)\.(txt|md|mdown)$ index.php [L]

  # block all files in the site folder from being accessed directly
  # except for requests to plugin assets files
  RewriteRule ^site/(.*) index.php [L]

  # Enable authentication header
  SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

  # block direct access to kirby and the panel sources
  RewriteRule ^kirby/(.*) index.php [L]

  # make site links work
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*) index.php [L]

</IfModule>

### compress text file responses
<IfModule mod_deflate.c>

  <FilesMatch "\.(txt|html|md|css|js|json|xml)$" >
    SetOutputFilter DEFLATE
  </FilesMatch>

  <FilesMatch "\.(woff|woff2|ttf|otf|eot|svg)$" >
    SetOutputFilter DEFLATE
  </FilesMatch>

</IfModule>

### set browser caching
<IfModule mod_expires.c>
  ExpiresActive Off

  # ExpiresByType text/html "access 1 day"
  # ExpiresByType application/json "access 1 day"
  # ExpiresByType text/plain "access 1 day"
  # ExpiresByType text/markdown "access 1 day"
  # ExpiresByType application/xml "access 1 day"

  # ExpiresByType text/css "access 1 month"
  # ExpiresByType text/javascript "access 1 month"

  # ExpiresByType image/jpeg "access 1 year"
  # ExpiresByType image/png "access 1 year"
  # ExpiresByType image/svg+xml "access 1 year"
  # ExpiresByType image/x-icon "access 1 year"
  # ExpiresByType image/tiff "access 1 year"
  # ExpiresByType image/gif "access 1 year"

  # ExpiresByType application/x-font-woff "access 1 year"
  # ExpiresByType font/truetype "access 1 year"
  # ExpiresByType font/opentype "access 1 year"
  # ExpiresByType font/eot "access 1 year"

  # ExpiresByType application/zip "access 1 year"
  # ExpiresByType application/pdf  "access 1 year"
  # ExpiresByType application/postscript "access 1 year"
  # ExpiresByType application/unityweb "access 1 year"

  # ExpiresByType audio/mpeg "access 1 year"
  # ExpiresByType audio/x-wav "access 1 year"

  # ExpiresByType video/mp4 "access 1 year"
  # ExpiresByType video/webm "access 1 year"
  # ExpiresByType video/ogg "access 1 year"
  # ExpiresByType video/quicktime "access 1 year"

  # ExpiresDefault "access 1 month"
</IfModule>
