html {
  font-size: 1em;
  font-family: $font;
}
// font sizes
body, h3, h4, h5, p {
  font-size: $font-size;
}
h1, h2 {
  font-size: $font-large;
}
h6 {
  font-size: $font-small;
}
// others
body {
  line-height: 1.2;
}
