$font-path: '/assets/fonts';

@mixin font-face($font-name, $font-file, $font-weight: normal, $font-style: normal) {
    @font-face {
        font-family: '#{$font-name}';
        src: url('#{$font-path}/#{$font-name}.woff2') format('woff2'),
             url('#{$font-path}/#{$font-name}.woff') format('woff');
        font-weight: $font-weight;
        font-style: $font-style;
    }
}

@include font-face('Roboto Mono', 'RobotoMono-Regular',     400);
@include font-face('Roboto Mono', 'RobotoMono-Italic',      400, italic);
@include font-face('Roboto Mono', 'RobotoMono-BoldRegular', 700);
@include font-face('Roboto Mono', 'RobotoMono-BoldItalic',  700, italic);