/* main */

html {
    font-size: 16px;
}

:root {
    --100vh: 100vh;
    --background: #fff;
    --color: #000;
    --highlight: #00f;
}

body {
    display: flex;
    flex-direction: column;
    min-height: var(--100vh);
    @include font;
    @include size;
}

::selection {
    background: var(--highlight);
    color: var(--background);
}