// colors
$color: #000;
$background: #fff;
$border-color: #000;

// typography
$font: Helvetica, Arial, sans-serif;
$font-size: 1rem;
$font-small: 0.8rem;
$font-medium: 1.6rem;
$font-large: 2.8rem;

// borders
$border-style: solid;
$border-width: 1px;
$border: $border-width $border-style $border-color;

// effect
$transition-function: ease;
$transition-duration: 200ms;
