// colors
$white: #fff;
$black: #000;
$blue: #00f;
$red: #f00;
$green: #0f0;
$yellow: #ff0;

// typography
$font: Helvetica, Arial, sans-serif;
$font-size: 1rem;
$font-small: 0.8rem;
$font-medium: 1.6rem;
$font-large: 2.8rem;

// borders
$border-style: solid;
$border-width: 1px;
$border: $border-width $border-style $black;
