// sass --watch --style=compressed assets/scss:assets/css

@import 'variables';

html,
body {
	width: 100%;
	min-height: 100%;
}
html {
  font-size: 1rem;
}
body {
  color: $color;
  background-color: $background;
}

@import 'components/typography';

@import 'mixins/button';
a {
  @include button;
}

nav {
  a {
    &.active {
      font-weight: bold;
    }
  }
}
