@import '../variables';
@import '../mixins/typography';

/*
@font-face {
	font-family: "Fontname";
    src: url("../fonts/Fontname.woff2") format("woff2"),
         url("../fonts/Fontname.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
*/

html {
  font-family: $font;
  @include text-normal;
}
h1, h2, .text-large {
  @include text-large;
}
h6, figcaption, .text-small {
  @include text-small;
}
