@import '../variables';

@mixin text-large {
  font-size: 2rem;
  line-height: 1;
}
@mixin text-normal {
  font-size: 1rem;
  line-height: 1.2;
}
@mixin text-small {
  font-size: 0.8rem;
  line-height: 1.3;
}
