
@mixin loop-columns( $i, $device: '' ) {
    @if $i > 0 {
        > .col#{$device}-#{$i} {
            grid-column-end: span $i;
        }
        @include loop-columns( $i - 1, $device );
    }
}

@mixin loop-order( $i, $device: '' ) {
    @if $i > 0 {
        > .order#{$device}-#{$i} {
            order: $i;
        }
        @include loop-order( $i - 1, $device );
    }
}

@mixin loop-start( $i, $device: '' ) {
    @if $i > 0 {
        > .start#{$device}-#{$i} {
            grid-column-start: $i;
        }
        @include loop-start( $i - 1, $device );
    }
}

.grid {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    box-sizing: border-box;
    justify-items: stretch;
    align-items: stretch;

    @media (min-width: $device-m) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    @media (min-width: $device-l) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    > [class*="col"] {
        display: block;
        box-sizing: border-box;
        grid-column-end: span 1;
    }

    padding: 0 size( 1 );
    gap: 0 size( 1 );
    &.space {
        gap: size( 1 );
        padding: size( 1 );
    }

    @include loop-columns( 12 );
    @include loop-order( 12 );
    @include loop-start( 12 );

    @media (min-width: $device-m) {
        @include loop-columns( 12, '-m' );
        @include loop-order( 12, '-m' );
        @include loop-start( 12, '-m' );
    }

    @media (min-width: $device-l) {
        @include loop-columns( 12, '-l' );
        @include loop-order( 12, '-l' );
        @include loop-start( 12, '-l' );
    }

    @media (min-width: $device-xl) {
        @include loop-columns( 12, '-xl' );
        @include loop-order( 12, '-xl' );
        @include loop-start( 12, '-xl' );
    }

    @media (min-width: $device-xxl) {
        @include loop-columns( 12, '-xxl' );
        @include loop-order( 12, '-xxl' );
        @include loop-start( 12, '-xxl' );
    }

}

body > header,
body > footer {
    > nav.grid {
        background-color: $grey;
        > [class*="col"] {
            vertical-align: baseline;
            padding: size( 0.6 ) 0 size( 0.36 );
            @include transition( background-color );
            &:hover {
                background-color: $white;
            }
        }
    }
}
