@import 'mixins';

.lazyload,
.lazyloading {
	opacity: 0;
}
.lazyloaded {
	opacity: 1;
	transition: opacity 300ms;
}

.stop-scrolling {
	height: 100%;
	overflow: hidden;
}

::selection {
	@include select;
}
